@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Resete */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body,
canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed,
fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5 , h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output,
p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table,
tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body{
    min-height: 100vh; 
    line-height:1;
}
ol, ul{list-style: none}
blockquote, q {quotes: none}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    min-width: calc(100vw - 4rem);
    min-height: calc(100vh - 4rem);
    padding: 2rem;

    background-image: linear-gradient(#1f1f1f, #212121), url("../images/hashira-all-members-kimetsu-no-yaiba.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

@supports (background-blend-mode: multiply) {
    body {
        background-image: linear-gradient(#4a4a4a, #212121), url("../images/hashira-all-members-kimetsu-no-yaiba.jpg");
        background-blend-mode: multiply;
    }
}

h1 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.3333;
    text-align: left;
    padding: 0 0 1.4rem 0;
}

p {
    color: #ffffff;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 0 1.4rem 0;
}

.card {
    display: flex;
    flex-direction: row;

    max-width: 81.25rem;
    min-height: 70vh;    

    background-color: rgba(37, 37, 37, 0.5);
    backdrop-filter: blur(0.8rem);
    border-radius: 0.8rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.card_image-container {
    flex: 0 1 30%;
    max-height: inherit;  
    background-image: url("../images/Tanjiro_Demon_Slayer_Mark_Profile.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:0 center;
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}

.card_image {
    opacity: 0;
    pointer-events: none;
}

.card_contents {
    display: flex;
    flex-direction: column; 
    flex: 1 1 55%;   
    padding: 4rem 2rem 5rem 2rem;
}

.card_header,
.card_footer {
    flex: 0 0 auto;
}

.card_footer {
    padding: 0;
    margin: 0;
    text-align: right;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.card_body {
    flex: 1 1 auto;
}

[class^="icon--"] {
    font-family: "FontAwesome";
    font-style: normal;
}

[class^="social-button"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 3rem;

    font-size: 1.4rem;
    color: white;
    border-radius: 50%;

    text-decoration: none;

    transition: background-color 150ms ease-in-out;

    margin-right: 0.1rem;
}

.icon--open::before {
    content: "\f0c9";
}

.icon--close::before {
    content: "\f00d";
}

.icon--open, .icon--close {
    color: white;
}

.icon--github::before {
    content: "\f09b";
}

.icon--linkedin::before {
    content: "\f0e1";
}

.icon--instagram::before {
    content: "\f16d";
}

.social-button--github {
    background-color: #303030;
}

.social-button--github:hover {
    background-color: #4a4a4a;
}

.social-button--linkedin {
    background-color: #00358b;
}

.social-button--linkedin:hover {
    background-color: #044cc1;
}

.social-button--instagram {
    background-color: #69004a;
}

.social-button--instagram:hover {
    background-color: #8b0062;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(55, 55, 55);
    cursor: pointer;

    transition: background-color 500ms ease-in-out;
}

.card_image-container .menu-button {
    margin: 1.5rem;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
    background-color: rgba(148, 0, 0, 0.5);
}

.menu-icon {
    position: relative;
    width: 2rem;
    height: 1.4rem;
    font-size: 2rem;
    font-weight: 200;
}

.menu-icon span {
    position: absolute;
    height: 0.125rem;
    width: 100%;
    background-color: #ffffff;
    transition: background-color 500ms ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0.0625rem;
}

.menu-icon span:nth-child(2) {
    top: 0.625rem;
}

.menu-icon span:nth-child(3) {
    top: 1.25rem;
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
    background: white;
}

.menu-icon.is-active span:nth-child(1) {
    opacity: 0;
}

.menu-icon.is-active span:nth-child(2) {
    transform: rotate(45deg);
}

.menu-icon.is-active span:nth-child(3) {
    top: 0.625rem;
    transform: rotate(-45deg);
}

.fullscreen-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;

    background-color: rgba(37, 37, 37, 0.5);
    backdrop-filter: blur(1rem);

    opacity: 0;
    pointer-events: none;

    transition: top 500ms ease-in, opacity 300ms ease-in;
}

.fullscreen-menu-container.is-open {
    opacity: 1;
    top: 0;
    pointer-events: auto;
}

.fullscreen-menu-container .menu-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.fullscreen-menu {
    text-align: center;
    max-width: 62rem;
    padding: 2rem 0;
    width: 100%;
}

.fullscreen-menu_image-container {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url("../images/Tanjiro_Demon_Slayer_Mark_Profile.webp");
    background-size: cover;
    background-position: center center;
    margin: 0 auto 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #4a4a4a;
}

.fullscreen-menu_nav {
    margin: 3rem 0;
}

.fullscreen-menu_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fullscreen-menu_nav a {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1.2rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 300ms ease-in;
}

.fullscreen-menu_nav a:hover,
.fullscreen-menu_nav a:focus,
.fullscreen-menu_nav a:active {
    color: #940000;
}

.fullscreen-menu [class^="social-button"] {
    margin: 0 0.5rem;
    height: 3.75rem;
    width: 3.75rem;
    font-size: 1.5rem;
}

@media only screen and (min-width: 37.51rem) {
    .fullscreen-menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fullscreen-menu {
        padding: 0;
    }

    .fullscreen-menu_nav {
        margin: 4rem 0;
    }

    .fullscreen-menu_nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 37.5rem) {
    body {
        padding: 0;
    }  
        
    .card {
        flex-direction: column;
        border-radius: 0;
        box-shadow: none;
        max-width: 37.5rem;
        min-height: 60vh;
    }
}
